<h3>R3D - Technical Test</h3>

Votre produit {{ product.name }} a bien été enregistré !
Son prix est le suivant {{ product.price }}.
Voici le descriptif que vous lui avez attribué :

{{ product.description }}

Merci!